.feinman__link { 
    line-height: 51px; 
    font-size: 36px; 
    font-weight: normal; 
    position: absolute; 
    right: 48px; 
    top: 50%; 
    text-decoration: none;
    color: black;
    transition: 1s;
    } 
    
    .feinman__link:hover {
      opacity: 0.5;
    }