.techniques {
    display: flex; 
    justify-content: center;  
    flex-direction: column; 
    align-items: center; 
    width: 80%;
    margin: auto;
    padding-left: 0; 
    padding-top: 100px;
  }