.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    color: #2F80ED;
    text-decoration: none;
    height: 50px;
    transition: 1s;
  }
  
  .khan__buy-link:hover {
    opacity: 0.5;
  }